package="omnisave"
version="@VERSION@-@BUILD@"
os_min_ver="7.0-40314"
description="Self-hosted, versioned game-save synchronization."
displayname="Omnisave Server"
maintainer="Kris Baumgartner"
arch="@ARCH@"
thirdparty="yes"
adminprotocol="http"
adminport="8080"
adminurl="/"
dsmuidir="ui"
dsmappname="com.omnisave.Dashboard"
checkport="yes"
silent_upgrade="yes"
support_move="yes"
